<!DOCTYPE html>
<!-- Thymeleaf Layout Dialect 네임스페이스 선언
레이아웃 기능을 쓰기 위해 필요  -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--layout/default.html을 레이아웃으로 사용하겠다-->


<!--레이아웃의 “content” 영역에 채워질 내용-->
<div layout:fragment="content">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title" th:text="${todo.title}"></h5>
      <p class="card-text" th:text="${todo.content}"></p>
      <p>
        완료 여부 :
        <span th:if="${todo.completed}" class="badge bg-success">완료</span>
        <span th:unless="${todo.completed}" class="badge bg-success">진행중</span>
      </p>

    </div>
  </div>

  <a th:href="@{/todos/{id}/toggle(id=${todo.id})}" class="btn btn-primary">toggle</a>
  <a th:href="@{/todos/{id}/edit(id=${todo.id})}" class="btn btn-warning">edit</a>
    <a th:href="@{/todos/{id}/delete(id=${todo.id})}" class="btn btn-danger">delete</a>


</div>
