<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO-LIST</title>
</head>
<body>
    <h1>TODO LIST</h1>
    <a href="/todos">HOME</a>
    <a href="/todos/active">ACTIVE</a>
    <a href="/todos/completed">COMPLETED</a>
    <a href="/todos/new">NEW</a>

<!--    submit을 누르면 /todos/search?keyword=입력값 으로 이동-->
    <form action="/todos/search">
      <input type="text" name="keyword">
      <input type="submit">
    </form>
    <hr>
<!--    <h3 th:each="todo : ${todos}" th:text="${todo.getTitle()}"></h3>-->
<div th:each="todo : ${todos}">
    <h3 th:text="${todo.getTitle()}"></h3>
    <a th:href="@{/todos/{id}(id=${todo.getId()})}">DETAIL</a>

</div>
</body>
</html>