<!DOCTYPE html>
<!-- Thymeleaf Layout Dialect 네임스페이스 선언
레이아웃 기능을 쓰기 위해 필요  -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}"
>
<!--layout/default.html을 레이아웃으로 사용하겠다-->


<!--레이아웃의 “content” 영역에 채워질 내용-->
<div layout:fragment="content">
<!--  <h1>TODO LIST</h1>-->
<!--  <a href="/todos">HOME</a>-->
<!--  <a href="/todos/active">ACTIVE</a>-->
<!--  <a href="/todos/completed">COMPLETED</a>-->
<!--  <a href="/todos/new">NEW</a>-->

<!--  &lt;!&ndash;    submit을 누르면 /todos/search?keyword=입력값 으로 이동&ndash;&gt;-->
<!--  <form action="/todos/search">-->
<!--    <input type="text" name="keyword">-->
<!--    <input type="submit">-->
<!--  </form>-->
<!--  <hr>-->

  <table class="table table-striped">
    <thead>
    <th>ID</th>
    <th>TITLE</th>
    <th>COMPLETED</th>
    <th>DETAIL</th>
    </thead>

    <tbody>
    <tr th:each="todo : ${todos}">
      <td th:text="${todo.id}"></td>
      <td th:text="${todo.title}"></td>
      <td>
        <span th:if="${todo.completed}" class="badge bg-success">완료</span>
        <span th:unless="${todo.completed}" class="badge bg-warning">진행중</span>
      </td>
      <td>
        <a th:href="@{/todos/{id}(id=${todo.id})}" class="btn btn-sm btn-primary">detail</a>
      </td>

    </tr>
    </tbody>
  </table>


</div>